body, html {
    box-sizing: border-box;
    font-family: Poppins, Roboto, sans-serif;
    margin: 0px;
    padding: 0px;
}

/* copied from project template */


/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/


/* ---- Base Rules ---- */
body {
    background: rgb(136,203,171);
    background: linear-gradient(0deg, rgba(136,203,171,1) 0%, rgba(0,13,60,1) 100%);
    margin: 0;
    /* font-family: 'Merriweather', serif; */
    color: #fff;
}


/* Typeography General*/
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 0;
}

@media only screen and (min-width: 35em){
    h1 {
        font-size: 7em;
        
    }
}

h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: #fff;
}

p {
    line-height: 1.6em;
    color: #eee;
}

/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    background-image: url("../assets/background.png");
    background-size: cover;
    background-position: center;
    min-height: 40vh;
    /* padding-top: 3em; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}
button{
    outline: none;
    color: white;
    background-color: black;
    padding: 10px 30px;
    font-size: 1.3em;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}
button:hover{
    background-color: white;
    color: black;
}


section {
    position: relative;
    min-height: 80vh;
}
.image-holder{
    display: block;
    
}

/* ---- Module Rules ---- */

/* Navigation Styles*/
.nav-list {
    color: black;
    display: flex;
    gap: 10px;
    list-style: none;
    padding-inline-start: 0;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.nav-list li a, .nav-list li a:visited{
    color: red;
    padding: 5px 10px;
    border: 1px solid red;
    text-decoration: none;

}
.nav-list li a:hover{
    background-color: red;
    color: white;
    border: none;
}
.nav-list li.active a{
    color: green;
    border-color: green;
}
.nav-list li.active a:hover{
    color: white;
    background-color: green;

}

/* Header Styles */
.page__header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    opacity: 1;
    visibility: visible;
    transition: visibility 0s, opacity 0.5s;
}

/* Footer Styles */
.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
}

.page__footer p{
    color: #fff;
}


/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }

    
}

@media only screen and (min-width: 800px){
    section{
        display: flex;
        align-self: center;
        /* justify-content: center; */
    }
    section:nth-of-type(even){
        flex-direction: row-reverse;
    }
    .image-holder{
        display: none;
        /* width: 40%;
        justify-content: center;
        align-self: center; */
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}


img{
    width: 100%;
}
/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}


/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
section.your-active-class {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

section.your-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-1em)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-1em) 
		           rotate(-360deg);
	}
}

/* .container{
    position: relative;
} */

.to-top-btn{
    position: fixed;
    /* top: 100px; */
    z-index: 5;
    /* width: 100vw; */
    bottom: 100px;
    right: 20px;
    padding: 20px;
    cursor: pointer;
    /* background-color: green; */
    color: white;
    outline: none;
    border: none;
    opacity: 1;
    visibility: visible;
    /* border-radius: 50%; */
}
.to-top-btn:hover{
    /* background-color: rgb(2, 212, 2); */
}


/* Modal */

.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.modal-container .content{
    position: fixed;
    background-color: white;
    color: black;
    padding: 30px;
    width: 80%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.modal-container .content h2{
    color: black;
    border-bottom: none;
    margin: 0;
    font-size: 2.4em;;
    text-align: center ;
    
}
.modal-form{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    justify-content: center;
    color: black;
    gap: 5px;
    /* width: 90%; */
    
}
input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    font-size: 1.2em;
    background-color: #000;
    color: white;

}
textarea{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    font-size: 1.2em;
    resize: none;
    background-color: #000;
    color: white;
}
.content button:hover{
    border: 1px solid black;
}

.close-modal{
    position: absolute; 
    top: 5px;  
    right: 5px;    
    cursor: pointer;
    z-index: 20;
}

.hidden{
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    
}